@font-face {
  font-family: 'yekan';
  src: url(/fonts/Yekan.woff2);
}

:root {
  --max-width: calc(1440px - 4rem);
  --mobile-max-width: calc(100vw - 2rem);
  --white: #fff;
  --primary-50: #dde8e3;
  --primary-100: #bbd2c6;
  --primary-500: #347855;
  --primary-600: #126139;

  --gray-50: #f4f4f4;
  --gray-100: #e5e5e5;
  --gray-400: #969695;
  --gray-500: #858589;
  --gray-700: #585756;
  --gray-800: #434240;
  --gray-900: #2e2d2b;

  --half-radius: 0.25rem;
  --radius: 0.5rem;

  --transition: all 0.3s linear;
}

::selection {
  background: inherit;
  color: inherit;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  list-style-type: none;
  text-decoration: none;
  cursor: default;
}
body {
  font-family: 'yekan';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-main);
  color: var(--text-800);
  line-height: 1.5;
  font-size: 0.875rem;
}

.fixed-width {
  margin: 0 auto;
  max-width: var(--max-width);
}
@media screen and (width <= 1440px) {
  .fixed-width {
    max-width: var(--mobile-max-width);
  }
}
